In [20]:
import os
import sys
import logging
import pandas as pd
import numpy as np
import logging

In [22]:
 consolidado_123=pd.read_csv("gs://fuenteexternas/Consolidado_datos_abiertos_2021_2022.csv",encoding ="latin1",sep=";")

In [25]:
consolidado_123.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO-MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00133927-22,1/04/2022 5:31,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
1,CRU-00133948-22,1/04/2022 5:52,19,Ciudad Bol¡var,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
2,CRU-00133967-22,1/04/2022 6:06,7,Bosa,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
3,CRU-00134007-22,1/04/2022 6:47,19,Ciudad Bol¡var,22,A¤os,FEMENINO,Privada,Herido,ALTA,1/04/2022 8:37
4,CRU-00134032-22,1/04/2022 7:07,11,Suba,36,A¤os,MASCULINO,Privada,Herido,ALTA,0000-00-00 00:00:00

In [26]:
 consolidado_123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25890 entries, 0 to 25889
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   25890 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  25890 non-null  object
 2   CODIGO_LOCALIDAD                   25890 non-null  int64
 3   LOCALIDAD                          25890 non-null  object
 4   EDAD                               25890 non-null  int64
 5   UNIDAD                             25890 non-null  object
 6   GENERO                             25890 non-null  object
 7   RED                                25890 non-null  object
 8   TIPO_INCIDENTE                     25890 non-null  object
 9   PRIORIDAD                          25890 non-null  object
 10  RECEPCION                          25890 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.2+ MB

In [27]:
    consolidado_123.rename(
     columns ={"TIPO_INCIDENTE":"TIPO_DE_EVENTO"},inplace=True),

(None,)

In [29]:
 consolidado_123.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25890 entries, 0 to 25889
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   25890 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  25890 non-null  object
 2   CODIGO_LOCALIDAD                   25890 non-null  int64
 3   LOCALIDAD                          25890 non-null  object
 4   EDAD                               25890 non-null  int64
 5   UNIDAD                             25890 non-null  object
 6   GENERO                             25890 non-null  object
 7   RED                                25890 non-null  object
 8   TIPO_DE_EVENTO                     25890 non-null  object
 9   PRIORIDAD                          25890 non-null  object
 10  RECEPCION                          25890 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.2+ MB

In [30]:
consolidado_123['LOCALIDAD'].apply(
    lambda x: x.strip()        # SIRVE PARA QUITAR LOS ESPACION
).value_counts()

Kennedy               3270
Engativ               2760
Suba                  2648
Bosa                  2040
Ciudad Bol¡var        1882
San Crist¢bal         1456
Rafael Uribe Uribe    1338
Usaqun               1316
Puente Aranda         1316
Fontib¢n              1218
Usme                  1218
Chapinero              856
Teusaquillo            848
Tunjuelito             814
Barrios Unidos         760
Los M rtires           760
Santa Fe               736
Antonio Nari¤o         468
La Candelaria          186
Name: LOCALIDAD, dtype: int64

In [31]:
consolidado_123["LOCALIDAD"].value_counts(dropna=False)

Kennedy               3270
Engativ               2760
Suba                  2648
Bosa                  2040
Ciudad Bol¡var        1882
San Crist¢bal         1456
Rafael Uribe Uribe    1338
Usaqun               1316
Puente Aranda         1316
Fontib¢n              1218
Usme                  1218
Chapinero              856
Teusaquillo            848
Tunjuelito             814
Barrios Unidos         760
Los M rtires           760
Santa Fe               736
Antonio Nari¤o         468
La Candelaria          186
Name: LOCALIDAD, dtype: int64

In [57]:
 consolidado_123["LOCALIDAD"] =  consolidado_123["LOCALIDAD"].replace(
       { "Barrios Unidos":"BARRIOS UNIDOS","Fontib¢n":"FONTIBON","San Crist¢bal":"SAN CRISTOBAL","Engativ\xa0":"ENGATIVA","Suba":"SUBA","Bosa":"BOSA"
       , "Kennedy":"KENNEDY", "Usaqun":"USAQUEN", "Antonio Nari¤o":"ANTONIO NARIÑO","Puente Aranda":"PUENTE ARANDA" 
        ,"Rafael Uribe Uribe":"RAFAEL URIBE URIBE" ,"Usme":"USME" ,"Usme":"USME" ,"Chapinero":"CHAPINERO","Santa Fe":"SANTA FE","Teusaquillo":"TEUSAQUILLO"
        ,"Tunjuelito":"TUNJUELITO","La Candelaria":"LA CANDELARIA","Sumapaz":"SUMAPAZ","Ciudad Bol¡var":"CIUDAD BOLIVAR","Los M\xa0rtires":"LOS MARTIRES"
       }
 )# ESTE SIRVE PARA RENOMBAR LOS DATOS DELAS FILAS

In [58]:
#casos por localidad
consolidado_123["LOCALIDAD"].value_counts(dropna=False)

KENNEDY               1629
ENGATIVA              1370
SUBA                  1314
BOSA                  1018
CIUDAD BOLIVAR         937
SAN CRISTOBAL          719
RAFAEL URIBE URIBE     665
PUENTE ARANDA          655
USAQUEN                652
USME                   601
FONTIBON               601
CHAPINERO              424
TEUSAQUILLO            422
TUNJUELITO             406
LOS MARTIRES           379
BARRIOS UNIDOS         378
SANTA FE               366
ANTONIO NARIÑO         234
LA CANDELARIA           93
Name: LOCALIDAD, dtype: int64

In [50]:
#casos por localidad
consolidado_123["GENERO"].value_counts(dropna=False)

SIN_DATO     5879
MASCULINO    3573
FEMENINO     3411
Name: GENERO, dtype: int64

In [35]:
consolidado_123["TIPO_DE_EVENTO"]=consolidado_123["TIPO_DE_EVENTO"].replace({"Convulsi¢n":"CONVULSIONES","Intoxicaci¢n":"INTOXICACION"
,"Electrocuci¢n / rescate":"ELECTROCUCION","Accidente de Aviaci¢n":"ACCIDENTE AVION"})

In [51]:
#por tipo de evento
consolidado_123["TIPO_DE_EVENTO"].value_counts(dropna=False)

Herido                                    3872
Inconsciente / Paro cardiorespiratorio    1506
Evento Respiratorio                       1278
CONVULSIONES                              1125
Enfermo                                    939
Trastorno Mental                           821
Intento de Suicidio                        701
Dolor Tor cico                             619
S¡ntomas Gastrointestinales                365
Accidente Cerebro Vascular                 332
INTOXICACION                               293
Ca¡da de Altura                            291
Patolog¡a Ginecobsttrica                  272
Amenaza de Suicidio                        182
Acompa¤amiento Evento                       94
Violencia Sexual                            83
Maltrato                                    54
Sangrado Vaginal                            12
Quemaduras                                  12
ELECTROCUCION                                7
Solicitud de Apoyo                           4
ACCIDENTE AVION                              1
Name: TIPO_DE_EVENTO, dtype: int64

In [52]:
#por tipo de prioridad
consolidado_123["PRIORIDAD"].value_counts(dropna=False)

ALTA       6595
CRITICA    4081
MEDIA      1729
BAJA        458
Name: PRIORIDAD, dtype: int64

In [53]:
consolidado_123.drop_duplicates(inplace=True)

In [54]:
consolidado_123.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO-MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_EVENTO,PRIORIDAD,RECEPCION
0,CRU-00133927-22,1/04/2022 5:31,18,RAFAEL URIBE URIBE,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
1,CRU-00133948-22,1/04/2022 5:52,19,Ciudad Bol¡var,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
2,CRU-00133967-22,1/04/2022 6:06,7,BOSA,0,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
3,CRU-00134007-22,1/04/2022 6:47,19,Ciudad Bol¡var,22,A¤os,FEMENINO,Privada,Herido,ALTA,1/04/2022 8:37
4,CRU-00134032-22,1/04/2022 7:07,11,SUBA,36,A¤os,MASCULINO,Privada,Herido,ALTA,0000-00-00 00:00:00

In [107]:
consolidado_123.to_csv("gs://fuenteexternas/tablaprocesada123.csv",encoding ="latin1",sep=";")

In [62]:

def main():
    filename ="tablaprocesada123.csv"
    datos = get_data(filename)
    reporte=generate_report(datos)
    save_data(reporte,filename)
    
if __name__=="__main__":
   _main_()

NameError: name '_main_' is not defined