# notebooks inicial para EDA para llmada  123

In [2]:
# importar librerias de manipulacion de datos
import pandas as pd

import os 

from pathlib import Path

In [3]:
root_dir = Path(".").resolve().parent
filename = "llamadas123_julio_2022.csv"
file_path = os.path.join(root_dir,"data","raw",filename)
file_path

'/Users/alexanderrivera/Desktop/phayton/data/raw/llamadas123_julio_2022.csv'

In [6]:
df = pd.read_csv(file_path, sep=";" , encoding= "latin-1",nrows =100) #funcion nrows es para sacar el numero de 100

In [7]:
df.head(10) # para ver las primeras diez filas

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
5,CRU-00278376-22,2022-07-01 00:56:11,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA,0000-00-00 00:00:00
6,CRU-00278380-22,2022-07-01 01:09:14,17,La Candelaria,57,A¤os,FEMENINO,Norte,S¡ntomas Gastrointestinales,CRITICA,2022-07-01 04:17:41
7,CRU-00278379-22,2022-07-01 01:09:27,19,Ciudad Bol¡var,65,A¤os,FEMENINO,Sur,Enfermo,ALTA,2022-07-01 05:07:00
8,CRU-00278386-22,2022-07-01 01:11:07,15,Antonio Nari¤o,14,A¤os,MASCULINO,Sur,Convulsi¢n,ALTA,2022-07-01 02:37:45
9,CRU-00278383-22,2022-07-01 01:12:00,4,San Crist¢bal,83,A¤os,FEMENINO,Sur,Evento Respiratorio,ALTA,0000-00-00 00:00:00

In [8]:
df.shape  # shape sirve para ver la forma de la tabla esto es una tupla cuando colacas[0]muestras la columnas si remplaza por 1 la columnas

(100, 11)

In [10]:
df.dtypes # esta funcion determina el tipo de datos esto se denmina esquema de tabla

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [11]:
df["GENERO"].value_counts (normalize = True) # con esteste podemos ver solo una columna los datos me refiero  y con normalize t Trie los promedia

FEMENINO     0.37
SIN_DATO     0.37
MASCULINO    0.26
Name: GENERO, dtype: float64

In [12]:
df ["TIPO_INCIDENTE"].unique()

array(['Accidente Cerebro Vascular', 'Herido', 'Evento Respiratorio',
       'Intento de Suicidio', 'S¡ntomas Gastrointestinales', 'Enfermo',
       'Convulsi¢n', 'Ca¡da de Altura', 'Maltrato',
       'Inconsciente / Paro cardiorespiratorio',
       'Patolog¡a Ginecobst\x82trica', 'Dolor Tor\xa0cico',
       'Trastorno Mental'], dtype=object)

In [13]:
lista_columnas = df.columns # para mostras las columnas 
lista_columnas[0:3] #con este busca desde el primero hasta el tercero sin incluirlo

Index(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD'],
      dtype='object')

In [14]:
dict_reporte =dict()
for col in lista_columnas:# para mostrar las columnas
    lista_unicos = df[col].unique()
    n_unicos = len(lista_columnas)
    dict_reporte[col]=n_unicos
    print("columna",n_unicos,col)
print("por fuera de rango")
print(dict_reporte)

columna 11 NUMERO_INCIDENTE
columna 11 FECHA_INICIO_DESPLAZAMIENTO_MOVIL
columna 11 CODIGO_LOCALIDAD
columna 11 LOCALIDAD
columna 11 EDAD
columna 11 UNIDAD
columna 11 GENERO
columna 11 RED
columna 11 TIPO_INCIDENTE
columna 11 PRIORIDAD
columna 11 RECEPCION
por fuera de rango
{'NUMERO_INCIDENTE': 11, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 11, 'CODIGO_LOCALIDAD': 11, 'LOCALIDAD': 11, 'EDAD': 11, 'UNIDAD': 11, 'GENERO': 11, 'RED': 11, 'TIPO_INCIDENTE': 11, 'PRIORIDAD': 11, 'RECEPCION': 11}

In [15]:
df_reporte = pd.DataFrame.from_dict(dict_reporte ,orient="index")
df_reporte.rename({0:"conteo"},inplace= True,axis=1)
df_reporte

                                   conteo
NUMERO_INCIDENTE                       11
FECHA_INICIO_DESPLAZAMIENTO_MOVIL      11
CODIGO_LOCALIDAD                       11
LOCALIDAD                              11
EDAD                                   11
UNIDAD                                 11
GENERO                                 11
RED                                    11
TIPO_INCIDENTE                         11
PRIORIDAD                              11
RECEPCION                              11

In [16]:
out_name="reporte"+filename
out_path=os.path.join(root_dir,"data","procesos",out_name)
df_reporte.to_csv(out_path)